.nav-item {
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}
header {
  background: rgba(0, 10, 31, 0.829);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(9px);
}
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00c7ff;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}
